@use 'themes' as *;
@use 'var' as *;

:host {
  height: 100%;
}

// main sections
:host .main-form {
  width: 100%;
  background-color: nb-theme(gauzy-card-2);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  @include nb-ltr(padding-right, 8px);
  @include nb-rtl(padding-left, 8px);
  overflow: hidden;
  height: calc(100vh - 19.25rem);
  overflow-y: scroll;
}

.aside-nav {
  width: 220px;
  min-width: 200px;
  background-color: nb-theme(gauzy-card-3);
  padding: 13px 18px;
  border-radius: nb-theme(border-radius);
  height: fit-content;

  & .settings-section-header {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 18px;
  }

  ul {
    padding-left: 0;
    padding-right: 0;
    display: inline-flex;
    flex-direction: column;
    height: fit-content;

    & li {
      display: inline-flex;
      padding: 10px 15px;
      margin-bottom: 10px;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      background: nb-theme(gauzy-sidebar-background-3);
      border-radius: nb-theme(button-rectangle-border-radius);
      list-style: none;
      cursor: pointer;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);

      &.active {
        background: nb-theme(background-basic-color-1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) inset;
      }
    }
  }
}

.actions {
  margin-bottom: 20px;
}

.fields-section {
  width: calc(100% - 260px);
}

// Scope tabset styles
.scope-tabset {
  padding: 0;
}

:host .accordion-section {
  overflow: auto;
  max-height: calc(100% - 3rem);
  @include nb-ltr(padding-right, 8px);
  @include nb-rtl(padding-left, 8px);
}
// end of main sections.

// misc
.form-group {
  margin-bottom: 0;
}

.col-6 {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 49% !important;
}

.active {
  background: #ffffff;
}

// start of nb-overrides
nb-accordion {
  box-shadow: none;

  & nb-accordion-item-header {
    border-bottom: none;
    border-radius: 0.5rem;
    padding-left: 20px;
    padding-right: 20px;

    & ::ng-deep nb-icon {
      border-radius: 6px;
      width: 23px;
      height: 23px;
      border: 1px solid rgba(66, 66, 66, 0.2);
    }
  }

  & nb-accordion-item-header,
  nb-accordion-item-body,
  nb-accordion-item {
    background-color: nb-theme(gauzy-card-3);
  }

  & nb-accordion-item-body {
    padding-left: 15px;
    padding-right: 15px;
  }

  nb-accordion-item {
    border-radius: 0.5rem;
    margin-bottom: 20px;

    & .item-body {
      padding: 15px;
    }

    .fields {
      width: 75%;

      @include respond(md) {
        width: 100%;
      }
    }

    .row {
      align-items: center;
    }
  }
}
// end of nb-overrides

// start of ::ng-deep selectors
:host ::ng-deep nb-select {
  & ::ng-deep button {
    margin-right: 10px;
    background-color: nb-theme(background-basic-color-1) !important;
    border-radius: nb-theme(border-radius) !important;
  }
}

:host ::ng-deep nb-toggle {
  padding: 10px;
  border: 1px solid nb-theme(gauzy-border-default-color);
  border-radius: nb-theme(border-radius);

  & > label {
    margin-bottom: 0;
  }
}

:host ::ng-deep .toggle {
  border: 1px solid #7e7e8f !important;
  background-color: #7e7e8f !important;

  &.checked {
    background-color: nb-theme(text-primary-color) !important;
    border: 1px solid nb-theme(text-primary-color) !important;

    & + span {
      color: nb-theme(text-primary-color);
    }
  }
}

:host ::ng-deep .ng-trigger {
  overflow: visible !important;

  & .item-body {
    overflow: visible !important;
    overflow-x: visible !important;
  }
}

:host ::ng-deep .select-button {
  margin: 0;
}
// end of ::ng-deep

// media queries
@include respond(md) {
  .col-6 {
    padding-right: 0;
  }

  .main-form {
    flex-direction: column;
  }

  .aside-nav {
    width: 100%;
    margin-bottom: 20px;

    ul {
      display: inline;
      height: auto;

      & li {
        margin-right: 7px;
      }
    }
  }

  .fields-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .actions {
    order: 2;
    margin-bottom: 0;
  }
}

@include respond(sm) {
  .col-6 {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    margin-bottom: 5px;
  }

  .row {
    width: 100%;
  }
}

.text-hint {
  font-size: 12px;
  color: nb-theme(text-hint-color);
  margin-top: 4px;
}
